<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

    <div class="interactive-wrapper">

      <div class="interactive-header">
        <div class="hed">Mission Bay: Details make the difference</div>
        <div class="chatter">It may look like jumbled monotony from afar, but the residential district between Mission Creek and UCSF Medical Center at Mission Bay is worth exploring on foot to see how a 21st century urban neighborhood gets built from scratch. Here are six examples of details that add variety to the scene — in one case, not for the better.<div class="instructions">Click on each number to see what deserves a second look.</div></div>
      </div>
      <div class="image small-mobile hideimg">
        <img class="background" src="./assets/graphics/missionbay_mobile.jpeg" usemap="#imageMapSmall">
        <map name="imageMapSmall">
          <area class="map-group-small-mobile" shape="poly" coords="73,123,102,130,102,155,67,169" alt="arden" title="arden"/>
          <area class="map-group-small-mobile" shape="poly" coords="105,103,137,114,137,136,112,136" alt="missionbaypark" title="missionbaypark"/>
          <area class="map-group-small-mobile" shape="poly" coords="130,84,167,81,164,112,133,113" alt="11554th" title="11554th"/>
          <area class="map-group-small-mobile" shape="poly" coords="137,115,177,108,179,135,137,137" alt="1200block" title="1200block"/>
          <area class="map-group-small-mobile" shape="poly" coords="139,144,164,144,163,181,127,178" alt="88missionbay" title="88missionbay"/>
          <area class="map-group-small-mobile" shape="poly" coords="164,143,188,143,197,184,163,182" alt="grandfamilyhouse" title="grandfamilyhouse"/>
        </map>
        <div class="tooltip hide" id="tooltip-small-mobile"></div>
      </div>
      <div class="image mobile hideimg">
        <img class="background" src="./assets/graphics/missionbay_mobile.jpeg" usemap="#imageMap">
        <map name="imageMap">
          <area class="map-group-mobile" shape="rect" coords="90,149,117,178" alt="arden" title="arden"/>
          <area class="map-group-mobile" shape="rect" coords="128,131,157,156" alt="missionbaypark" title="missionbaypark"/>
          <area class="map-group-mobile" shape="rect" coords="153,104,180,130" alt="11554th" title="11554th"/>
          <area class="map-group-mobile" shape="rect" coords="156,132,183,157" alt="1200block" title="1200block"/>
          <area class="map-group-mobile" shape="rect" coords="159,165,187,191" alt="88missionbay" title="88missionbay"/>
          <area class="map-group-mobile" shape="rect" coords="188,164,215,190" alt="grandfamilyhouse" title="grandfamilyhouse"/>
        </map>
        <div class="tooltip hide" id="tooltip-mobile"></div>
      </div>
      <div class="image ipad hideimg">
        <div class="tooltip hide" id="tooltip-ipad"></div>
        <img class="background" src="./assets/graphics/missionbay_ipad.jpeg" usemap="#imageMapIpad">
        <map name="imageMapIpad">
          <area class="map-group-ipad" shape="rect" coords="204,337,247,381" alt="arden" title="arden"/>
          <area class="map-group-ipad" shape="rect" coords="292,292,339,335" alt="missionbaykidspk" title="missionbaykidspk"/>
          <area class="map-group-ipad" shape="rect" coords="346,237,385,274" alt="11554thst" title="11554thst"/>
          <area class="map-group-ipad" shape="rect" coords="345,290,390,337" alt="1200block" title="1200block"/>
          <area class="map-group-ipad" shape="rect" coords="356,368,401,412" alt="588missionbay" title="588missionbay"/>
          <area class="map-group-ipad" shape="rect" coords="414,364,457,406" alt="grandfamilyhouse" title="grandfamilyhouse"/>
        </map>
      </div>
      <div class="image desktop hideimg">
        <div class="tooltip hide" id="tooltip-desktop"></div>
        <img class="background" src="./assets/graphics/missionbay_ipad.jpeg" usemap="#imageMapDesktop">
        <map name="imageMapDesktop">
          <area class="map-group-desktop" shape="rect" coords="224,369,271,417" alt="arden" title="arden"/>
          <area class="map-group-desktop" shape="rect" coords="321,320,372,368" alt="missionbaykidspk" title="missionbaykidspk"/>
          <area class="map-group-desktop" shape="rect" coords="380,259,422,300" alt="11554thst" title="11554thst"/>
          <area class="map-group-desktop" shape="rect" coords="378,317,428,369" alt="1200block" title="1200block"/>
          <area class="map-group-desktop" shape="rect" coords="391,404,440,451" alt="588missionbay" title="588missionbay"/>
          <area class="map-group-desktop" shape="rect" coords="454,399,502,445" alt="grandfamilyhouse" title="grandfamilyhouse"/>
        </map>
      </div>
      <div class="interactive-credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        <div class="entry">John Blanchard  &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      </div>

    </div>

    </div>

    <script>
      var mapData = <%= JSON.stringify(csv.map_data) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
